In [10]:
import pandas as pd
import numpy as np

In [11]:
lst = [2, 4, 6, 8, 10] #declaring list data1 = np.array(lst) # converting the list to ndarray print (data1)
data1 = np.array(lst) # converting the list to ndarray print (data1)
data1

array([ 2,  4,  6,  8, 10])

In [20]:
list=[1,2,3]
np_list = np.array([1,2,3])

sum(list)
np.sum(np_list)

6

In [25]:
import pandas as pd
import numpy as np
studentInfo = {"NAME" :"Aafi", "SUBJECT":"Data Science", "MARK":98, "CLASS MODE": "ONLINE", "TUTOR NAME" : "Melcose"}

s = pd.Series(data = studentInfo, index=studentInfo)
s

NAME                  Aafi
SUBJECT       Data Science
MARK                    98
CLASS MODE          ONLINE
TUTOR NAME         Melcose
dtype: object

In [32]:
import pandas as pd
import numpy as np
studentInfo = {"NAME" :"Aafi", "SUBJECT":"Data Science", "MARK":98, "CLASS MODE": "ONLINE", "TUTOR NAME" : "Melcose"}

s = pd.Series(data = studentInfo, index= sorted(studentInfo))
s

CLASS MODE          ONLINE
MARK                    98
NAME                  Aafi
SUBJECT       Data Science
TUTOR NAME         Melcose
dtype: object